doctype html
html(lang="vi")
	head
		meta(charset="UTF-8")
		meta(
			content="width=device-width, initial-scale=1.0" 
			name="viewport"
			)
		title #{pageTitle}
		link(
			href="/admin/assets/css/style.css" 
			rel="stylesheet"
			)
		link(
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" 
			rel="stylesheet"
			)
	body
		.page-account
			block main
	script(src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js")
	script(src="/admin/assets/js/account.js")