extends ../layouts/default.pug

block main
	.section-11
		.container
			.inner-wrap
				.inner-cart
					.inner-head
						.inner-title Giỏ hàng
						a.inner-button Quay lại mua hàng >
					.inner-list
						.inner-tour-item
							button.inner-delete
								img(
									alt="" 
									src="/client/assets/image/icon-delete.png"
									)
							button.inner-check
								img(
									alt="" 
									src="/client/assets/image/icon-check.png"
									)
							.inner-content
								.inner-image
									img(
										alt="section-11 image" 
										src="/client/assets/image/section-11.jpg"
										)
								.inner-info
									.inner-name Tour Châu Âu Đón Noel | 11N10D | Pháp – Thụy Sĩ – Ý
									.inner-list-item
										.inner-item
											.inner-label Mã Tour
											.inner-value 123456789
										.inner-item
											.inner-label Ngày Khởi Hành
											.inner-value 20/10/2024
										.inner-item
											.inner-label Khởi Hành Tại
											.inner-value Hà Nội
							.inner-quantity
								.inner-label Số Lượng Hành Khách
								.inner-item
									.inner-label Người lớn:
									input(
										min="0" 
										value="1" 
										type="number"
										)
									.inner-price
										span 1
										span x
										span 10.000.000
								.inner-item
									.inner-label Trẻ em:
									input(
										min="0" 
										value="0" 
										type="number"
										)
									.inner-price
										span 0
										span x
										span 7.990.000
								.inner-item
									.inner-label Em bé:
									input(
										min="0" 
										value="0" 
										type="number"
										)
									.inner-price
										span 0
										span x
										span 7.990.000
						.inner-tour-item
							button.inner-delete
								img(
									alt="" 
									src="/client/assets/image/icon-delete.png"
									)
							button.inner-check
								img(
									alt="" 
									src="/client/assets/image/icon-check.png"
									)
							.inner-content
								.inner-image
									img(
										alt="section-11 image" 
										src="/client/assets/image/section-11.jpg"
										)
								.inner-info
									.inner-name Tour Châu Âu Đón Noel | 11N10D | Pháp – Thụy Sĩ – Ý
									.inner-list-item
										.inner-item
											.inner-label Mã Tour
											.inner-value 123456789
										.inner-item
											.inner-label Ngày Khởi Hành
											.inner-value 20/10/2024
										.inner-item
											.inner-label Khởi Hành Tại
											.inner-value Hà Nội
							.inner-quantity
								.inner-label Số Lượng Hành Khách
								.inner-item
									.inner-label Người lớn:
									input(
										min="0" 
										value="1" 
										type="number"
										)
									.inner-price
										span 1
										span x
										span 10.000.000
								.inner-item
									.inner-label Trẻ em:
									input(
										min="0" 
										value="0" 
										type="number"
										)
									.inner-price
										span 0
										span x
										span 7.990.000
								.inner-item
									.inner-label Em bé:
									input(
										min="0" 
										value="0" 
										type="number"
										)
									.inner-price
										span 0
										span x
										span 7.990.000
					.inner-bill
						.inner-code
							input(
								placeholder="Nhập mã giảm giá" 
								type="text"
								)
							button.inner-button Dùng Mã
						.inner-box.inner-price
							.inner-label Tổng tiền
							.inner-value 15.070.000
						.inner-box.inner-discount
							.inner-label Giảm
							.inner-value -5.070.000
						.inner-box.inner-total-price
							.inner-label Thanh Toán
							.inner-value 17.070.000
				.inner-payment
					.inner-info
						.inner-title Thông Tin Khách Hàng
						form.inner-contact(action="")
							.inner-input
								input(
									placeholder="Họ và tên" 
									type="text"
									)
							.inner-input
								input(
									placeholder="Số điện thoại" 
									type="text"
									)
							.inner-input
								input(
									placeholder="Ghi chú" 
									type="text"
									)
					.inner-payment-method
						.inner-title Chọn phương thức thanh toán
						.inner-select
							.inner-item
								input#payment-method-1(
									name="payment-method" 
									type="radio"
									)
								label(for="payment-method-1") Thanh toán tiền mặt khi đi tour
							.inner-item
								input#payment-method-2(
									name="payment-method" 
									type="radio"
									)
								label(for="payment-method-2") Ví Momo
							.inner-item
								input#payment-method-3(
									checked="" 
									name="payment-method" 
									type="radio"
									)
								label(for="payment-method-3") Chuyển khoản ngân hàng
						.inner-bank
							.inner-title Thông tin chuyển khoản
							.inner-item
								.inner-label Ngân hàng:
								span Vietcombank
							.inner-item
								.inner-label Tên tài khoản:
								span Lê Văn A
							.inner-item
								.inner-label STK:
								span 123456789
					.inner-button
						button ĐẶT TOUR