extends ../layouts/account.pug
include ../mixins/checkbox-30.pug

block main
	.form-account
		h1.inner-title Quên mật khẩu
		.inner-desc Vui lòng nhập email để tiếp tục
		form(action="" class="inner-form" id="forgot-password-form")
			.inner-group
				label(for="email") Email 
				input(
					type="email" 
					id="email" 
					name="email" 
					placeholder="Ví dụ: levana@gmail.com"
					class="inner-control")
			button.inner-button Gửi mã OTP 
			.inner-more
				span Bạn đã nhớ mật khẩu?
				a(href=`/${pathAdmin}/account/login` class="inner-link") Đăng nhập