extends ../layouts/account.pug
include ../mixins/checkbox-30.pug

block main
	.form-account
		h1.inner-title Nhập mã OTP
		.inner-desc Vui lòng nhập mã OTP để tiếp tục
		form(action="" class="inner-form" id="otp-password-form")
			.inner-group
				label(for="otp") Mã OTP
				input(
					type="text"
					id="otp"
					name="otp"
					placeholder="Ví dụ: 123456"
					class="inner-control")
			a(href=`/${pathAdmin}/account/reset-password`).inner-button Xác thực 
			.inner-more
				span Bạn đã nhớ mật khẩu?
				a(href=`/${pathAdmin}/account/login` class="inner-link") Đăng nhập