mixin product-item()
	.product-item
		img.inner-image(
			alt="Tour 1" 
			src="/client/assets/image/tour-1.jpg"
			)
		.inner-discount
			img(
				alt="Thunder Icon" 
				src="/client/assets/image/Icon-thunder.png"
				)
			| GIẢM -30%
		.inner-content
			.inner-name Hà Nội - Lào Cai - Sapa 4N3Đ
			.inner-price
				span.inner-old-price
					| 13.650.000
					span đ
				span.inner-new-price
					| 2.590.000
					span đ
			.inner-intro
				.inner-id
					| Mã Tour:
					span 123456789
				.inner-date
					| Ngày Khởi Hành:
					span 22/07/2024
				.inner-time
					| Thời Gian:
					span 10 Ngày 9 Đêm
			.inner-rating
				.inner-star
					img(
						alt="Rating Icon" 
						src="/client/assets/image/Icon-rating.png"
						)
					span (5)
				span.inner-quantity
					div Số chỗ còn:
					span 10